@using BlazorApp1.Data
@using BlazorApp1.Components.Layout.View
@using MyModels.Models
@inject ApplicationContext DbContextPrinters

<form class="create-container" name="test">
   
    <RadzenStack AlignItems="AlignItems.Center" Class="rz-mx-auto rz-my-12">

        <RadzenImage Path="@(Printer.image is null? "/image/not image.jpg" : Printer.image)" Style="width: 15rem;" AlternateText="community" />

    </RadzenStack>
    <div class="product-characteristics__group"></div>
    <div class="product-characteristics__group-title">Общие характеристики</div>

    <div class="product-characteristics-spec">
        <div class="product-characteristics__spec-title">
            <label for="modelName">Model Name:</label>
        </div>
        <div class="product-characteristics__spec-value">

            <input type="text" id="modelName" name="modelName" required style="width:100%"  value="@(Printer is not null  ? Printer.ModelName :"")">
        </div>
    </div> 
    <div class="product-characteristics-spec">
        <div class="product-characteristics__spec-title">
            <label for="ciss">CISS:</label>
        </div>
        <div class="product-characteristics__spec-value">
            <BooleanType Status="get" name="CISS" Have="@Printer.CISS"></BooleanType>
        </div>
    </div>
    <div class="product-characteristics-spec">
        <div class="product-characteristics__spec-title">
         
            <label for="autoDoubleSided" value="@(Printer is not null  ? Printer.AutomaticDoubleSidedPrinting:"")" checked="@(Printer is not null ? Printer.AutomaticDoubleSidedPrinting ? "checked":"" :"")">Automatic Double-Sided Printing:</label>
        </div>
        <div class="product-characteristics__spec-value">
            <BooleanType Status="get" name="autoDoubleSided" Have="@Printer.AutomaticDoubleSidedPrinting"></BooleanType>
        </div>
    </div>
    <div class="product-characteristics-spec">
        <div class="product-characteristics__spec-title">
            <label for="colorPrinting">Color Printing:</label>
        </div>
        <div class="product-characteristics__spec-value">
            <BooleanType Status="get" name="ColorPrinting" Have="@Printer.СolorPrinting"></BooleanType>
           
        </div>
    </div>

    <div class="product-characteristics-spec">
        <div class="product-characteristics__spec-title">
            <label for="companyName">Company Name:</label>
        </div>
        <div class="product-characteristics__spec-value">
            <CompanyName name="@Printer.Company_name.name" companies="@DbContextPrinters.Companies.ToArray()" Status="get"></CompanyName>
        </div>
    </div> 
    <div class="product-characteristics-spec">
        <div class="product-characteristics__spec-title">
            <label for="Resolution">Resolution:</label>
        </div>
        <div class="product-characteristics__spec-value">
            <ResolutionView Resol="@Printer.MaxPrintResolution" name="MaxPrintResolution" Status="update"></ResolutionView>
        </div>
    </div> 
    <div class="product-characteristics-spec">
        <div class="product-characteristics__spec-title">
            <label>BWPrintingSpeed:</label>
        </div>
        <div class="product-characteristics__spec-value">
            <Speed name="BWPrintingSpeed" speed="@Printer.BWPrintingSpeed.speed" Status="get" units="@Printer.BWPrintingSpeed.units.ToString()"></Speed>
            
        </div>
    </div>
    @if (Printer is not null)
    {
        @if (Printer.СolorPrinting)
        {
            <div class="product-characteristics-spec">
                <div class="product-characteristics__spec-title">
                    <label for="Resolution">ColorPrintingSpeed:</label>
                </div>
                <div class="product-characteristics__spec-value">
                    
                    <Speed name="ColorPrintingSpeed" speed="@Printer.ColorPrintingSpeed.speed" Status="get" units="@Printer.ColorPrintingSpeed.units.ToString()"></Speed>
                   
                </div>
            </div>
        }
    }
    <div class="product-characteristics-spec">
        <div class="product-characteristics__spec-title">
            <label for="Resolution">ColorPrintingSpeed:</label>
        </div>
        <div class="product-characteristics__spec-value">
            
        </div>
    </div>
   

   
  

   
    


 
@*     <br> 
    @if (Printer is not null)
    {
        @if (Printer.СolorPrinting)
        {
           
           
            <br>
        }

    }
    else
    {
        <label for="Resolution">ColorPrintingSpeed:</label>
        <input type="text" id="ColorPrintingSpeed" name="ColorPrintingSpeed" size="6" required onmousemove="this.style.width = ((this.value.length + 1) * 8) + 'px';" >
        <span> стр/мин</span>
        <br>
    } *@
   
   
   
    <input type="reset" value="Очистить">
</form>


@code {
    [Parameter]
    public Printers Printer { get; set; }
    string value { get; set; }


    RadzenDropDown<string> radzenDropDown;
    string searchTextStatus;
    string searchText="";
    public string SearchText
    {
        get
        {
            return searchText;
        }
        set
        {
            searchText = value;
            searchTextStatus = $"Search text: {searchText}";
        }
    }
    public virtual ICollection<Companies> companies { get; set; }
    public virtual ICollection<Resolution> Resolutions { get; set; }
    protected override void OnInitialized()
    {
        companies = DbContextPrinters.Companies.ToArray();
        Resolutions = DbContextPrinters.Resolution.ToArray();
        SearchText = Printer.Company_name.name;
        searchTextStatus = $"Search text: {SearchText}";
    } 



  

 
}
