@using MyModels.Models

@if (status == "update" || status == "set")
{
    <div class="@(PropertyName)_Container">
        <input type="number" id="@PropertyName" name="@PropertyName" required @bind="@PropertyValue">
        @UnitsValue
    </div>
}

else if (status == "get" )
{
    <span>@PropertyValue @UnitsValue</span>

   
}
else
{
    <span>speed not found</span>
}
<EditButton OnButtonClick="HandleButtonClick"></EditButton>

@code {


    [Parameter]
    public Printers Printer { get; set; }


    [Parameter]
    public string PropertyName { get; set; }

    private int? PropertyValue
    {
        get
        {
            var propertyValue = Printer.GetType().GetProperty(PropertyName)?.GetValue(Printer);

            if (propertyValue != null)
            {
                if (propertyValue is int || propertyValue is int?)
                {
                    return (int?)propertyValue;
                }
            }

            return null;
        }
        set
        {
            var propertyType = Printer.GetType().GetProperty(PropertyName)?.PropertyType;

            if (propertyType != null && value != null)
            {
                if (propertyType == typeof(int))
                {
                    Printer.GetType().GetProperty(PropertyName)?.SetValue(Printer, value.Value);
                }
                else if (propertyType == typeof(int?))
                {
                    Printer.GetType().GetProperty(PropertyName)?.SetValue(Printer, value);
                }
            }
        }
    }

    [Parameter]
    public string UnitsName { get; set; }


    private Measurement_units UnitsValue
    {

        get => ((Measurement_units)Printer.GetType().GetProperty(UnitsName).GetValue(Printer));

    }

    string status = "";

    [Parameter]
    public string Status
    {
        get
        {
            return status;
        }
        set
        {
            if (value == "get" || value == "set" || value == "update")
            {
                status = value;

            }
            else
            {
                status = "get";

            }
        }

    } 

    private int? TempValue { get; set; }

    protected override void OnInitialized()
    {
        TempValue = PropertyValue;
    }

    private void HandleButtonClick(string buttonType)
    {
        if (buttonType == "reset")
        {
            PropertyValue = TempValue;
            Status = "get";
        }
        else
        {
            Status = buttonType;
        }
        // StateHasChanged(); // Важно вызвать StateHasChanged() после изменения статуса
    }

}
