@using MyModels.Models

@if (status == "update" || status == "set")
{
    <input type="number" id="@(name)_ResolutionWidth" name="@(name)_ResolutionWidth" size="6" required value="@Resol.width">
    <span>x</span>
    <input type="number" id="@(name)_ResolutionHeight" name="@(name)_ResolutionHeight" size="6" required value="@Resol.height">
    <span>dpi</span>
}

else if (status == "get" & Resol is not null)
{
    <span>@(Resol.width)x@(@Resol.height) @Resol.units</span>


}
else
{
    <span>resolution not found</span>
}

@code {

    [Parameter]
    public MyModels.Models.Resolution Resol { get; set; }
    
    [Parameter]
    public string? name { get; set; }

    string status = "";

    [Parameter]
    public string Status
    {
        get
        {
            return status;
        }
        set
        {
            if (value == "get" || value == "set" || value == "update")
            {
                status = value;
            }
            else
            {
                status = "get";
            }
        }
    }

}
