@using MyModels.Models

@if (status == "update" || status == "set")
{
     <div class="@(name)_Container">
    <input type="number" id="@name" name="@name"  required value="@speed">
    @units
    </div>
}

else if (status == "get" && speed is not null)
{
    <span>@speed @units</span>

   
}
else
{
    <span>speed not found</span>
}
<EditButton OnButtonClick="HandleButtonClick"></EditButton>

@code {
   
    [Parameter]
    public int? speed { get; set; }
    [Parameter]
    public string units { get; set; }
    [Parameter]
    public string name { get; set; }

    string status = "";

    [Parameter]
    public string Status
    {
        get
        {
            return status;
        }
        set
        {
            if (value == "get" || value == "set" || value == "update")
            {
                status = value;
             
            }
            else
            {
                status = "get";
             
            }
        }

    }
    private void HandleButtonClick(string buttonType)
    {
        Status = buttonType;
        StateHasChanged(); // Важно вызвать StateHasChanged() после изменения статуса
    }

}
